@import "variables";
@import "mixins";


html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS";
  font-size: .8rem;
  background-color: $quadraryColour;
  color: $textColour;
  @include textShadow();
}

.mormont-app {
  padding: 10px;
  margin: 0 auto;
  width: $bigWidth;
}

.lightbox {
  display: none;
  position: absolute;
  background-color: #000000;
  left: 0px;
  top: 0px;
  opacity: .5;
  width: 100%;
  height: 100%;
}

.expense-list, .income-list {
  list-style: none;
  padding: 0;
  margin: 0;
}


.row-item {
  padding: 5px 10px;
  cursor: pointer;
  height: 20px;
  line-height: 20px;
}

.expense-item {

  .button-edit, .button-delete {
    float: right;
  }

  &:hover {

    color: $tertiaryColour;
    background-color: $textColour;
    @include removeTextShadow();

    .button-edit, .button-delete {
      display: inline-block;
    }

  }

}

.income-item {

  .button-edit, .button-delete {
    float: right;
  }

  &:hover {

    color: $tertiaryColour;
    background-color: $textColour;
    @include removeTextShadow();

    .button-edit, .button-delete {
      display: inline-block;
    }

  }

}

.input-label, .checbox-section {
  margin: 0 0 10px 0;
}

.recurring-list {
  width: 300px;
  padding: 5px;
  margin: 10px 0;
}

.total, .budget-items {
  font-weight: bold;
  padding: 5px 10px;
  margin: 0;
}

.big-text {
  font-size: 1.3rem;
}

.total-digit {
  font-size: 1rem;
}

.budget-items {
  border-bottom: 1px dotted white;
}

.income-bg {
  background-color: $secodaryColour;
}

.expense-bg {
  background-color: $primaryColour;
  margin: 0 0 10px 0;
}

.total-bg {
  background-color: $tertiaryColour;
  margin: 0 0 10px 0;
}

.income-colour {
  color: $textColour;
}

.expense-colour {
  color: $textColour;
}