$primaryColour: #D45354;
$secodaryColour: #76ad40;
$tertiaryColour: #2FCAD8;
$quadraryColour: #818B85;
$quintaryColour: #CDCDC1;

$red: $primaryColour;

$green: $secodaryColour;

$lightBlue: $tertiaryColour;

$textColour: #fafafa;

$expenseLight: $primaryColour;
$expenseMedium: $primaryColour;
$expenseDark: $primaryColour;

$incomeLight: $secodaryColour;
$incomeMedium: $secodaryColour;
$incomeDark: $secodaryColour;

$editLight: #31d8e6;
$editMedium: $tertiaryColour;
$editDark: #2dbdcb;

$backgroundColour: $quintaryColour;

$bigWidth: 900px;