$primaryColour: #D45354;
$secodaryColour: #A9DC3A;
$tertiaryColour: #2FCAD8;
$quadraryColour: #818B85;
$quintaryColour: #CDCDC1;

$red: $primaryColour;

$green: $secodaryColour;

$lightBlue: $tertiaryColour;

$textColour: #fafafa;

$expenseLight: #e05758;
$expenseMedium: $primaryColour;
$expenseDark: #c34d4e;

$incomeLight: #b2e63d;
$incomeMedium: $secodaryColour;
$incomeDark: #9cce36;

$editLight: #31d8e6;
$editMedium: $tertiaryColour;
$editDark: #2dbdcb;

$backgroundColour: $quintaryColour;

$bigWidth: 900px;